#sSearch{
    height:30px;
    width:100%;
    margin:0 auto;
  }

#s1{
  width:100%;
  height:fit-content;
  padding:10px;
  /* background: rgb(196, 216, 216); */
  float: left;
}
#s2{
  width:100%;
  background: beige;
}
#s1 p{
  display: inline-block;
  font-size: 18px;
  margin:0;
}
#s1 ul{
  width: 100%;
}
#s1 li{
  margin: 3px 3px;
  border:1px solid gray;
  border-radius: 10px;
  padding:5px;
  width:fit-content;
  float: left;
}
#s1 span{
  display: inline-block;
  text-align: center;
  font-size: 15px;
  width:90%;
  height:20px;
  border:1px solid gray;
  border-radius: 10px;
}
ul{
  list-style-type:none;
}