<!DOCTYPE html>
<html>

<head>
  <title>商品管理-添加</title>
  <link rel='stylesheet' href='/stylesheets/spguanli.css' />
</head>

<body>
  <div class="top">
    <div class="top0">
      <span style="display: block;float:left;margin-top:8px;margin-left: 5%;font-size: 25px;">
        EYE&EAR管理平台
      </span>
      <a style="display: block;float:right;color:#ff5722;margin-top:10px;margin-right:3%;font-size: 22px;">退出</a>
      <a
        style="display:block;float:right;width:30px;height:30px;background:url(./images/1.png);background-size:100% 100%;margin-top:12px;margin-right:2%;"></a>
    </div>
  </div>
  <div class="content">
    <div class="content0">
      <div class="contentLeft">
        <ul>
          <li>统计</li>
          <li>
            <a href="http://localhost:5000/b1/user_analysis">
              用户分析
            </a>
          </li>
          <li>
            <a href="http://localhost:5000/b1/order_analysis">
              订单分析
            </a>
          </li>
        </ul>
        <ul>
          <li>管理</li>
          <li>
            <a href="http://localhost:5000/b1/user_message">
              用户管理
            </a>
          </li>
          <li>
            <a href="http://localhost:5000/b1/commodity_management">
              商品管理
            </a>
          </li>
          <li>
            <a href="http://localhost:5000/b1/order_management">
              订单管理
            </a>
          </li>
        </ul>
        <ul>
          <li>设置</li>
          <li>
            <a href="http://localhost:5000/b1/platform_management">
              平台信息
            </a>
          </li>
          <li>
            <a href="http://localhost:5000/b1/user_management">
              账户权限
            </a>
          </li>
        </ul>
      </div>
      <div class="contentRight">
        <div class="user1">
          <p style="color:#808080;padding-top: 15px;margin-left:10px;">商品管理</p>
          <!-- <hr style="width: 960px;margin:0 auto;
                background-color:#c4c2c2;border:none;height:2px;"/> -->
          <p style="margin-left:20px;font-weight:bold;margin-top:20px;">新增商品</p>
          <hr style="width: 960px;margin:0 auto;
                background-color:#c4c2c2;border:none;height:2px;" />
        </div>
        <div style="height:50px;" class="same">
          <p style="color:#808080;margin-left:20px;margin-top:15px;display: inline-block;">商品信息</p>
          <img src="./images/3.png" style="float:right;margin-top:15px;">
        </div>
        <div style="height:50px;" class="same">
          <p style="color:#808080;margin-left:20px;margin-top:15px;display: inline-block;">商品名称：</p>
          <input type="text" placeholder="请输入商品名称">
        </div>
        <div style="height:50px;" class="same">
          <p style="color:#808080;margin-left:20px;margin-top:15px;display: inline-block;">商品价格：</p>
          <input type="text" placeholder="请输入商品价格">
          <span style="color:#808080;font-size:12px;padding-left:15px;">如该商品的价格不因规格参数而变化，则在此输入统一价格</span>
        </div>
        <div style="height:250px;" class="same">
          <p style="color:#808080;margin-left:20px;margin-top:15px;display: inline-block;">缩略图：</p>
          <input type="file" onchange="previewFile()">
          <div width="150" height="150">
            <img src="./images/pic.jpg" width="130" height="155" style="margin-left:50px;" id="img">
          </div>
          <!-- <div src="./images/pic.png" width="150" height="150" alt="图片预览..." id="img"></div> -->
          <div style="height:300px;" class="same">
            <p style="color:#808080;margin-left:20px;margin-top:15px;display: inline-block;">商品详情：</p>
            <div>
              <textarea style="width:950px;border:1px solid #808080;height:150px;margin-left:5px;" type="text"
                placeholder="模特跟我一样都是来展示的，当时你最好是真实的">
                    </textarea>
            </div>
          </div>
          <div style="height:100px;">
            <button style=" position:absolute;
                left:400px;" type="submit">预览</button>
            <button style=" position:absolute;
                left:600px;" type="submit">提交</button>
            <button style=" position:absolute;
                left:800px;" type="submit">取消</button>
          </div>
        </div>
      </div>
</body>
<script>
  function previewFile() {
    var preview = document.querySelector("#img"); //选择符合参数条件的第一个元素(class用.,id用#,标签名直接写)
    var file = document.querySelector("input[type=file]").files[0];
    var reader = new FileReader();

    if (file) {
      reader.readAsDataURL(file);
    }

    reader.addEventListener("load", function () {
      preview.src = reader.result;
      // console.log(reader.result);
    })
  }
</script>

</html>