<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login</title>
    <style>
        .loginform{
            margin-top: 8%;
        }
        .myform{
            width: 600px;
            margin:0 auto;
        }
        .login_p{
            text-align: center;
            margin-bottom: 15px;
            font-size: 20px;
            color: #606060;
        }
        #username,#pwd,#login,#identity{
            margin:0 auto;
            margin-top: 20px;
            width: 300px;
            height: 25px;
            display: block;
            border: 1px solid #d4d4d4;
            border-radius: 5px;
        }
        #identity{
            width: 300px;
            height: 28px;
            color: #696767;
        }
        #login{
            height: 28px;
            background-color: #ff0000;
            color: #fff;
            border: 1px solid #ff0000;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <div style="width: 100%;height: 100%;">
        <div class="loginform">
            <div style="width:100px;height:100px;background-image:url('/images/6.jpg');background-size: 110% 100%;margin: auto auto;"></div>
            <p class="login_p">EYE&EAR管理平台</p>
            <form class="myform">
                <select id="identity">
                    <option value="administrator">管理员</option>
                    <option value="company">企业</option>
                </select>
                <input type="text" autocomplete="off" placeholder="帐号"   id="username" />
                
                <input type="password" autocomplete="off" placeholder="密码"  id="pwd" />
            
                <button type="submit" id="login"><span>登录</span></button>
            </form>
        </div>
    </div>
</body>
</html>